alias cat="bat -p"
alias gs="git status"
alias l="ls -alh"
alias ll="ls -l"
alias ls="ls --color=tty"
alias lt="ls -thalr"
alias tux="tmux -q has-session && exec tmux attach-session -d || exec tmux new-session -n$HOST"
alias vim="nvim"
alias shake="stack exec shake --"
alias glint="git status --porcelain | awk '(\$1 == \"M\" || \$1 == \"A\") && \$2 ~ /\.hs/ { print \$2; }' | xargs hlint"
