snippet if "if (...) { .."
if (${1}) {
	${VISUAL}${0}
}
endsnippet

snippet /* "Docblock definition" b
/*
 * ${1}
 */
${0}
endsnippet

snippet for "for (...) { .." b
for (${1}) {
	${VISUAL}${0}
}
endsnippet
