snippet % "{% %}" i
{% $0 %}
endsnippet

snippet if "{% if %}" i
{% if $1 %}
	$0
{% endif %}
endsnippet

snippet for "{% for %}" b
{% for $1 %}
	$0
{% endfor %}
endsnippet

snippet extends "{% extends %}" b
{% extends '$0' %}
endsnippet

snippet block "{% block %}" b
{% block $1 %}
$0
{% endblock %}
endsnippet
